body{
    margin:0;
    background-color: #fae0f3;
      
}
.encabezado-redes-sociales{
    background-color:#e769c1;
    height:90px;
    color: rgb(154, 155, 199);
    display:flex;
    justify-content: center;
    align-items: center;
}

.encabezado-redes-sociales i{
    color:rgb(255, 255, 255);
   
}

.encabezado-redes-sociales a{
    margin-right: 15px;
}

nav{
    height: 80px;
    background-color:rgb(243, 123, 197);
    display:flex;
    justify-content: space-around;
    align-items:center;
    font-family:'Oswald', sans-serif;
    /* font-weight: bolder; */
    color:#a69fcf;
}

nav .nav-imagen-logo img{
    height:77px;
}

nav .nav-menu ul{
    display:flex;
    list-style-type: none; /*quitar las viñetas*/
    
}

nav .nav-menu-ul li{
    margin-right:20px;
    color:ghostwhite;
    
}

nav .nav-menu a{
    text-decoration: none;

}

.main{
    /* border: 5px solid red; */
    height: 100vh;
    background-image: url("../imagenes/programming.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    align-items: center; /*centrar verticalmente*/
    justify-content: center; /*centrar horizontalmente*/

}
.presentacion{
    background-image: url(fondoop2.jpg);
    color: #000000;
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
    text-align: center;
    align-items: center;
    display:flow-root;
    padding-top: 210px;
    padding-bottom: 210px;
}
.presentacion h2{
    margin-bottom:0px;
    margin-top:-120px;
    font-size:50px;
    font-family:initial;
    color:rgb(179, 30, 122);
}
.presentacion p{
    font-size: 40px;
    font-family:initial;
    color:rgb(133, 31, 74) ;

}

.footer{
    height:60px;
    background-image: linear-gradient(#e769c1, #e776e2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto Mono'; 
}

.proyectos-main{
    height:100vh;
    display:flex;
    justify-content: center;
    /* align-items: center; */
    margin-top:50px;
}

.proyectos-imagen{
    width: 600px;
}

.proyectos-imagen img{
    width:95%;
}

.informacion{
    width:600px;
    font-family:sans-serif;
    /* margin-left: 50px */
}

.informacion h1{
    font-family:monospace;
    font-size: 60px;
    margin-bottom:0;
    color:rgb(255, 11, 194);
}

.informacion ul{
    list-style: none;
    padding-left: 25px;
    font-family:monospace;
    font-size: 15px;
}

.informacion li{
    margin-bottom: 15px;;
}

.botonera{
    text-align: center;
}

.botonera button{
    background-color:#e769c1;
    width: 200px;
    height: 50px;
    color: white;
    font-family: 'Roboto Mono';
    font-size: 15px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

.botonera button:focus{
    background-color:#e769c1;
}
.blog-titulo{
    text-align: center;
}
.blog-titulo{
    font-family:sans-serif;

}
.blog-cuerpo{
    display:flex;
    justify-content:center;
    align-items:center;  
    font-family:sans-serif;
  }
  
  .blog-contenido{
      text-align:justify
  }
  .blog-contenido{
      width: 30%;
  }
  .blog-imagen{
      width:30%
  }
  .blog-imagen{
      width:100%
  }